<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Cambialo</title>


  <link rel="stylesheet prefetch" href="https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500">
  <link rel="stylesheet prefetch" href="css/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet prefetch" href="css/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet prefetch" href="https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  {{template "navbar" .}}

  <div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Edit Profile</h1>
    <div class="row">
      <!-- left column -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="{{.Imagen}}" class="avatar img-circle img-thumbnail" alt="avatar">
          <!--<h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block well well-sm">-->
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Información Personal</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Nombres:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{.Nombres}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Apellidos:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{.Apellidos}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{.Email}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>
                  <option value="Central Time (US & Canada)" selected="selected">(GMT-06:00) Central Time (US & Canada)</option>
                  <option value="Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Nombre Usuario:</label>
            <div class="col-md-8">
              <input class="form-control" value="{{.Username}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" value="{{.Password}}" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirmar password:</label>
            <div class="col-md-8">
              <input class="form-control" value="" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="button">
              <span></span>
              <input class="btn btn-default" value="Cancel" type="reset">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
